<ion-footer-bar class="bar bar-dark no-padding footerButton">
  <ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab icon-on="energized ion-reply active" icon-off="energized ion-reply" ng-if="showAddUpdate" ng-click="addUpdate(false)" title="Org Update"></ion-tab>
    <!--<ion-tab icon-on="energized ion-reply-all active" icon-off="energized ion-reply-all" ng-if="showAddUpdate" ng-click="addUpdate(true)" title="All Update"></ion-tab>
  <ion-tab icon-on="royal ion-reply active" icon-off="royal ion-reply" ng-if="showAddExpert" ng-click="addToExpert(false)" title="Org Expert"></ion-tab>
   <ion-tab icon-on="royal ion-reply-all active" icon-off="royal ion-reply-all" ng-if="showAddExpert" ng-click="addToExpert(true)" title="All Expert"></ion-tab>-->
  </ion-tabs>

</ion-footer-bar>
