<ion-view ng-controller="SavedQueryEditCtrl as vm">
    <ion-nav-title>
        {{vm.title}}
    </ion-nav-title>
    <ion-header-bar class="bar-subheader bar-dark '">
        <div class="button-bar">
            <div class="button button-clear button-stable icon ion-close-round" ng-click="vm.cancel()">
                {{vm.wordFor("Cancel")}}
            </div>
            <div class="button button-clear ok-confirm icon ion-checkmark-round" ng-click="vm.saveQuery()">
                {{vm.wordFor("Save")}}
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header has-subheader">
        <ion-list>
            <div class="item item-input item-stacked-label">
                <span class="input-label itemLabel">Name</span>
                <textarea class="medText" ng-model="vm.savedQuery.name" rows="6" ></textarea>

            </div>
             <owned-item entity="vm.savedQuery" entity-type="1" updatable="true" is-dirty="false"></owned-item>
         </ion-list>
    </ion-content>
</ion-view>
