<ion-view ng-controller="PersonEditCtrl as vm">
  <ion-nav-title ng-show="vm.person">
    {{(vm.isNew ? vm.wordFor("Add New") + ' Person' : vm.title)}}
  </ion-nav-title>
  <ion-header-bar class="bar-subheader item-input-inset bar-dark" ng-if="vm.person">
    <div class="button-bar" ng-if="!vm.fullscreen">
      <div ng-click="vm.cancel()" class="button button-clear button-stable icon ion-close-round">{{vm.wordFor("Cancel")}}</div>
      <div ng-click="vm.save()" click-once ng-disabled="!vm.isDirty || vm.saving" class="button button-clear icon ion-checkmark-round ok-confirm">{{vm.wordFor("Save")}}</div>
    </div>
    <div class="button-bar" ng-if="vm.fullscreen">
      <div class="button button-clear button-stable icon ion-arrow-shrink" ng-click="vm.fullscreen = false;">
        Close full screen
      </div>
    </div>

  </ion-header-bar>
  <ion-content class="has-header has-subheader" delegate-handle="theHandle">
    <ion-list ng-show="vm.person && !vm.fullscreen">
      <div class="item item-input item-stacked-label">
        <span class="input-label itemLabel">{{vm.wordFor("First name")}}</span>
        <input type="text" ng-model="vm.person.firstname" ng-change="vm.isDirty = true;">
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label itemLabel">{{vm.wordFor("Last name")}}</span>
        <input type="text" ng-model="vm.person.lastname" ng-change="vm.isDirty = true;">
      </div>

      <entity-cp-doc entity="vm.person" for-update="true" mode="custom" is-dirty="vm.isDirty"></entity-cp-doc>

      <div class="item item-input item-stacked-label">
        <span class="input-label itemLabel">{{vm.wordFor("Nickname")}}</span>
        <input type="text" ng-model="vm.person.nickname" ng-change="vm.isDirty = true;">
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label itemLabel">{{vm.wordFor("Middle name")}}</span>
        <input type="text" ng-model="vm.person.middlename" ng-change="vm.isDirty = true;">
      </div>
      <div class="item item-input item-select">
        <span class="input-label itemLabel">{{vm.wordFor("Prefix")}}</span>
        <select class="col col-80 text-center"
                ng-options="item as item for item in vm.prefixes"
                ng-model="vm.person.prefix"
                ng-change="vm.isDirty = true;"></select>
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label itemLabel">{{vm.wordFor("Suffix")}}</span>
        <input type="text" ng-model="vm.person.suffix" ng-change="vm.isDirty = true;">
      </div>
      <!--<div class="item item-input item-stacked-label item-icon-right">
        <div class="input-label itemLabel">
          Summary
        </div>
        <i class="icon ion-arrow-expand iconButton" ng-click="vm.goFullscreen()"></i>

        <textarea id="textareaReg" class="medText"
                  ng-focus="vm.taFocus()"
                  ng-model="vm.person.description" style="overflow-y: scroll;"
                  rows="{{vm.textareaRows}}" ng-change="vm.isDirty = true;" maxlength="4000"></textarea>
      </div>-->
      <entity-description entity="vm.person" entity-type="4" for-update="vm.person.updatable" manage-updates="false" is-dirty="vm.isDirty"></entity-description>

      <entity-cp-doc entity="vm.person" for-update="true" mode="builtin" is-dirty="vm.isDirty"></entity-cp-doc>


      <collection-entity entity-type="9" parent-entity-type="4" parent-entity="vm.person" manage-updates="false" is-dirty="vm.isDirty"></collection-entity>
      <tag-picker parent-entity-type="4" parent-entity="vm.person" manage-updates="false" is-dirty="vm.isDirty"></tag-picker>
      <collection-entity entity-type="11" parent-entity-type="4" parent-entity="vm.person" manage-updates="false" is-dirty="vm.isDirty"></collection-entity>

      <entity-attachments entity="vm.person" entity-type="4" updatable="true" add-new="false" manage-updates="false" is-dirty="vm.isDirty"></entity-attachments>

      <entity-locations entity="vm.person" entity-type="4" is-dirty="vm.isDirty" manage-updates="false"></entity-locations>

      <owned-item ng-if="!vm.isUser" entity="vm.person" entity-type="4" updatable="vm.person.updatable" is-dirty="vm.isDirty"></owned-item>

      <div ng-if="vm.person.updatable && vm.userMayDelete && !vm.isNew" class="item text-center">
        <div class="button button-clear button-outline button-assertive  icon ion-trash-a softer" ng-click="vm.deletePerson(vm.person)">
          Delete {{vm.person.name}}
        </div>
      </div>
      <list-footer></list-footer>

    </ion-list>

    <div ng-show="vm.fullscreen" class="item item-input item-stacked-label">
      <span class="input-label itemLabel">Summary</span>
      <textarea id="personTA" style="height:{{vm.taHeight}};width:100%;"
                ng-model="vm.person.description"
                ng-change="vm.inputChg()"
                ng-focus="vm.focusTA()"></textarea>
    </div>

  </ion-content>
</ion-view>

<script id="descriptionFS.html" type="text/ng-template">
  <ion-modal-view style="height:100%; width:100%; top:0; left:0;position:absolute;">
    <ion-header-bar class="bar-header bar-dark ">
      <div class="button-bar">
        <div class="button button-clear button-stable icon ion-close-round" ng-click="vm.closeFullscreen()">
          Close
        </div>
      </div>
    </ion-header-bar>
    <ion-content class="has-header" style="position:absolute;">
      <ion-list>
        <div class="item item-input item-stacked-label ">
          <span class="input-label itemLabel">Summary</span>
          <textarea id="taDescription" style="height:{{vm.taHeight}};width:100%;overflow-y:scroll"
                    ng-model="vm.person.description" ></textarea>
        </div>

      </ion-list>
    </ion-content>
  </ion-modal-view>
</script>
